<div id="movements" class="view container-fluid pl-5 pr-5">
  <div class="page-title col-md-2 offset-1">
    <h1>Mouvements</h1>
  </div>
  <div class="grid row">
    <ng-container *ngFor="let movement of movements">
      <div class="item col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngIf="!movement.parent">
          <figure class="hover-effect">
            <img src="../../../assets/images/movements/{{ movement.picture }}" class="w-100"/>
            <figcaption>
              <div>
                <h2>{{ movement.name }}</h2>
              </div>
            </figcaption>
          </figure>
      </div>
    </ng-container>
  </div>
</div>
