@import '../../../../assets/sass/mixins';
@import '../../../../assets/sass/variables';

#movements {
  .grid {
    .item {
      margin-bottom: 30px;
      height: 400px;

      figure {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: $black;
        height: 400px;

        img {
          object-fit: cover;
          height: 400px;
          position: relative;
          display: block;
          opacity: 0.5;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
        }

        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &:before,
          &:after {
            pointer-events: none;
          }

          div {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 40px;
            width: 100%;
            height: 45%;

            h2 {
              font-family: 'Montserrat', Arial, sans-serif;
              -webkit-transition: all ease 350ms;
              transition: all ease 350ms;
              opacity: 1;
              margin: 0;
              font-size: 25px;
              color: #fff;
              text-transform: uppercase;
              text-align: left;
            }
          }
        }

        &:hover img {
          opacity: 0.1;
        }
      }
    }
  }
}
