<div id="home" class="view">
  <div class="container-fluid p-0">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../../../assets/images/slide01.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3>À tous les passionnés d'art</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../assets/images/slide02.jpg" alt="Dali Museum">
        <div class="carousel-caption">
          <h3>Visitez les musées du monde entier</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="container">
    <div class="artists-overview overview mt-5">
      <h2 class="border-bottom pb-2 mb-4">Artistes</h2>
      <div class="row">
        <div *ngFor="let artist of artists; let i = index" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="artist">
            <img src="../../../assets/images/artists/cover/{{ artist.picture }}" class="w-100"/>
            <h3 class="pt-1 mb-1 mb-2">{{ artist.firstName }} {{ artist.name }}</h3>
          </div><!-- .artist -->
        </div>
        <a routerLink="/artists" title="Voir tous les artistes" class="view-all col-12">Voir tous les artistes</a>
      </div><!-- .row -->
    </div><!-- .artists-overview -->

    <div class="paintings-overview overview mt-5">
      <h2 class="border-bottom pb-2 mb-4">Oeuvres</h2>
      <div class="row mb-2">
        <div *ngFor="let painting of paintings; let i = index" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="artist">
            <img src="../../../assets/images/paintings/cover/{{ painting.picture }}" class="w-100"/>
            <h3 class="pt-1 m-0">{{ painting.name }}</h3>
            <p>{{ painting.artist.firstName }} {{ painting.artist.name }}</p>
          </div><!-- .painting -->
        </div>
        <a routerLink="/paintings" title="Voir toutes les oeuvres" class="view-all col-12">Voir toutes les oeuvres</a>
      </div><!-- .row -->
    </div><!-- .paintings-overview -->

    <div class="museums-overview overview mt-5 mb-5 pl-0 pr-0">
      <h2 class="border-bottom pb-2 mb-4">Visitez les musées du monde entier</h2>
      <ngx-masonry class="museums-grid" [useImagesLoaded]="true" [options]="options">
        <ngxMasonryItem class="museum-item" *ngFor="let museum of museums">
          <img *ngIf="museum.picture" src="../../../assets/images/museums/{{ museum?.picture }}">
          <div class="overlay">
            <div class="museum-name">{{ museum.name }}</div>
          </div>
        </ngxMasonryItem>
      </ngx-masonry>
    </div><!-- .museums-overview -->
  </div><!-- .container -->

</div><!-- #home -->
