// Header
.navbar {
  background-color: white;

  .navbar-brand {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-size: 1.9em;
    font-weight: bold;
  }
}
