<div id="movement" class="view container-fluid" *ngIf="movement">
  <div class="page-title col-md-5 offset-1">
    <h1>{{ movement.name }}</h1>
  </div>
  <div class="row">
    <div class="gallery grid col-lg-12 col-xl-10">
      <div class="row">
        <div class="item col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let painting of paintings">
          <figure class="hover-effect">
            <img src="../../../assets/images/paintings/{{ painting.picture }}" class="w-100"/>
            <figcaption>
              <div>
                <h2>{{ painting.name }}</h2>
                <p>{{ painting.artist.firstName }} {{ painting.artist.name }}</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="artists-list col-lg-12 col-xl-2">
      <h3>Artistes majeurs</h3>
      <hr width="40%" style="margin: 0 auto;"/>
      <ul>
        <li *ngFor="let artist of artists" class="row">
          <img src="../../../assets/images/artists/{{ artist.picture }}" alt="{{ artist.firstName }} {{ artist.name }}"/>
          <p>{{ artist.firstName }} {{ artist.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
