/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body {

}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:visited {
    color: black !important;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
}

li {
  list-style: none;
}

.navbar {
  border-bottom: 1px solid #000;
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-size: 1.9em;
    font-weight: bold;
  }
}

.page-title {
  margin-top: 80px;
  margin-bottom: 50px;
  position: relative;
  height: 200px;

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 50px;
    position: absolute;
    bottom: 35px;
    margin: 0 auto;
    text-align: center;
    display: block;
    left: 0;
    right: 0;
  }
}
