/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black !important;
  }
}

p {
  margin: 0 !important;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
